.modal1-body {
    background-color: whitesmoke;
    padding:9px 15px;
    color:#000;
    font-family:Verdana, sans-serif;
    /* border-bottom:4px solid #006666; */

 }
 .modal1-header {
    
    padding:9px 15px;
    color:black;
    font-family:Verdana, sans-serif;
    border-bottom:1px solid #eee;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
 }